In [1]:
import pandas as pd

In [7]:
finaldf = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/cleaned/cleandf.csv', delimiter=';')

In [8]:
finaldf.head(5)

,account__id,date,SaldoInsoluto,days_late_at_date,customer_status_final
0,5daa2b82-f1ff-4f2d-a93e-5a6e887e50a2,2021-01-31,7773.888191,0,current
1,5df510ff-4850-42e0-ae7b-9f6cf07bc7a3,2021-01-31,4952.785658,0,current
2,5e30304e-648e-454f-9d4b-638144264ac4,2021-01-31,4084.748315,0,current
3,5e7959f1-aa3d-4010-9625-44bda535709f,2021-01-31,7470.341882,0,current
4,5f114ecd-4fb4-42e1-85ff-6049021a3b01,2021-01-31,1904.930000,0,current

In [21]:
finaldf[finaldf['customer_status_final'] == 'loss']

,account__id,date,SaldoInsoluto,days_late_at_date,customer_status_final
1458600,5eea39ca-0945-46be-911c-0ac42020588f,2021-08-31,2432.498557,182,loss
1714769,5fac2cfd-30ea-4e28-a2cd-6a60791633d5,2021-08-31,1791.439173,185,loss
1916515,5eea39ca-0945-46be-911c-0ac42020588f,2021-09-30,2796.330222,212,loss
2042873,600c340d-9dfa-43d1-9dff-58aee698a3d7,2021-09-30,1212.098150,188,loss
2234996,5fac2cfd-30ea-4e28-a2cd-6a60791633d5,2021-09-30,1989.601703,215,loss
...,...,...,...,...,...
30297043,624f5940-62ce-44b3-a137-a41f855e133e,2022-12-31,0.000000,192,loss
30297071,6256eb3f-d6cf-4de0-967f-e8e495e54e6d,2022-12-31,12757.191727,192,loss
30297080,62591c39-d429-490b-a54d-0e87b254504b,2022-12-31,0.000000,192,loss
30297126,62696843-956c-4dc9-9538-e602ca953d96,2022-12-31,0.000000,197,loss
30297183,627d2484-7e9b-48be-8aac-b8337b1adf1a,2022-12-31,0.000000,197,loss

In [27]:
pruebadf = finaldf[finaldf['account__id'] == '5eea39ca-0945-46be-911c-0ac42020588f']

In [28]:
pruebadf

,account__id,date,SaldoInsoluto,days_late_at_date,customer_status_final
27218,5eea39ca-0945-46be-911c-0ac42020588f,2021-01-31,2.841495e+03,0,current
101642,5eea39ca-0945-46be-911c-0ac42020588f,2021-02-28,5.479977e+02,0,current
191481,5eea39ca-0945-46be-911c-0ac42020588f,2021-03-31,8.338478e+02,29,current
364610,5eea39ca-0945-46be-911c-0ac42020588f,2021-04-30,1.129384e+03,59,current
364611,5eea39ca-0945-46be-911c-0ac42020588f,2021-04-30,1.129384e+03,59,current
613771,5eea39ca-0945-46be-911c-0ac42020588f,2021-05-31,1.436154e+03,90,pre-loss
826144,5eea39ca-0945-46be-911c-0ac42020588f,2021-06-30,1.755654e+03,120,pre-loss
1099600,5eea39ca-0945-46be-911c-0ac42020588f,2021-07-31,2.087614e+03,151,pre-loss
1458600,5eea39ca-0945-46be-911c-0ac42020588f,2021-08-31,2.432499e+03,182,loss
1916515,5eea39ca-0945-46be-911c-0ac42020588f,2021-09-30,2.796330e+03,212,loss
2491907,5eea39ca-0945-46be-911c-0ac42020588f,2021-10-31,5.455562e+02,0,loss
3226191,5eea39ca-0945-46be-911c-0ac42020588f,2021-11-30,5.479977e+02,0,loss
4144744,5eea39ca-0945-46be-911c-0ac42020588f,2021-12-31,5.479977e+02,0,loss
5240638,5eea39ca-0945-46be-911c-0ac42020588f,2022-01-31,5.400257e+02,28,loss
6522177,5eea39ca-0945-46be-911c-0ac42020588f,2022-02-28,-2.100000e-08,0,loss
8015190,5eea39ca-0945-46be-911c-0ac42020588f,2022-03-31,-2.100000e-08,0,loss
9832488,5eea39ca-0945-46be-911c-0ac42020588f,2022-05-31,-2.100000e-08,0,loss
12021491,5eea39ca-0945-46be-911c-0ac42020588f,2022-06-30,-2.100000e-08,0,loss
14379901,5eea39ca-0945-46be-911c-0ac42020588f,2022-07-31,-2.100000e-08,27,loss
16895113,5eea39ca-0945-46be-911c-0ac42020588f,2022-08-31,-2.100000e-08,58,loss
19577356,5eea39ca-0945-46be-911c-0ac42020588f,2022-09-30,-2.300000e-08,88,loss
22400752,5eea39ca-0945-46be-911c-0ac42020588f,2022-10-31,-2.300000e-08,119,loss
25338275,5eea39ca-0945-46be-911c-0ac42020588f,2022-11-30,-2.300000e-08,149,loss
28376823,5eea39ca-0945-46be-911c-0ac42020588f,2022-12-31,-2.300000e-08,180,loss

In [30]:
pruebadf.customer_status_final = pruebadf.customer_status_final.replace('current','0')
pruebadf.customer_status_final = pruebadf.customer_status_final.replace('pre-loss','1')
pruebadf.customer_status_final = pruebadf.customer_status_final.replace('loss','2')

/var/folders/v4/bqj9vzp11vd1cvhf93rmpqt00000gp/T/ipykernel_42259/200568374.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pruebadf.customer_status_final = pruebadf.customer_status_final.replace('current','0')
/var/folders/v4/bqj9vzp11vd1cvhf93rmpqt00000gp/T/ipykernel_42259/200568374.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pruebadf.customer_status_final = pruebadf.customer_status_final.replace('pre-loss','1')
/var/folders/v4/bqj9vzp11vd1cvhf93rmpqt00000gp/T/ipykernel_42259/200568374.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pruebadf.customer_status_final = pruebadf.customer_status_final.replace('loss','2')

In [31]:
pruebadf

,account__id,date,SaldoInsoluto,days_late_at_date,customer_status_final
27218,5eea39ca-0945-46be-911c-0ac42020588f,2021-01-31,2.841495e+03,0,0
101642,5eea39ca-0945-46be-911c-0ac42020588f,2021-02-28,5.479977e+02,0,0
191481,5eea39ca-0945-46be-911c-0ac42020588f,2021-03-31,8.338478e+02,29,0
364610,5eea39ca-0945-46be-911c-0ac42020588f,2021-04-30,1.129384e+03,59,0
364611,5eea39ca-0945-46be-911c-0ac42020588f,2021-04-30,1.129384e+03,59,0
613771,5eea39ca-0945-46be-911c-0ac42020588f,2021-05-31,1.436154e+03,90,1
826144,5eea39ca-0945-46be-911c-0ac42020588f,2021-06-30,1.755654e+03,120,1
1099600,5eea39ca-0945-46be-911c-0ac42020588f,2021-07-31,2.087614e+03,151,1
1458600,5eea39ca-0945-46be-911c-0ac42020588f,2021-08-31,2.432499e+03,182,2
1916515,5eea39ca-0945-46be-911c-0ac42020588f,2021-09-30,2.796330e+03,212,2
2491907,5eea39ca-0945-46be-911c-0ac42020588f,2021-10-31,5.455562e+02,0,2
3226191,5eea39ca-0945-46be-911c-0ac42020588f,2021-11-30,5.479977e+02,0,2
4144744,5eea39ca-0945-46be-911c-0ac42020588f,2021-12-31,5.479977e+02,0,2
5240638,5eea39ca-0945-46be-911c-0ac42020588f,2022-01-31,5.400257e+02,28,2
6522177,5eea39ca-0945-46be-911c-0ac42020588f,2022-02-28,-2.100000e-08,0,2
8015190,5eea39ca-0945-46be-911c-0ac42020588f,2022-03-31,-2.100000e-08,0,2
9832488,5eea39ca-0945-46be-911c-0ac42020588f,2022-05-31,-2.100000e-08,0,2
12021491,5eea39ca-0945-46be-911c-0ac42020588f,2022-06-30,-2.100000e-08,0,2
14379901,5eea39ca-0945-46be-911c-0ac42020588f,2022-07-31,-2.100000e-08,27,2
16895113,5eea39ca-0945-46be-911c-0ac42020588f,2022-08-31,-2.100000e-08,58,2
19577356,5eea39ca-0945-46be-911c-0ac42020588f,2022-09-30,-2.300000e-08,88,2
22400752,5eea39ca-0945-46be-911c-0ac42020588f,2022-10-31,-2.300000e-08,119,2
25338275,5eea39ca-0945-46be-911c-0ac42020588f,2022-11-30,-2.300000e-08,149,2
28376823,5eea39ca-0945-46be-911c-0ac42020588f,2022-12-31,-2.300000e-08,180,2

In [36]:
pruebadf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24 entries, 27218 to 28376823
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   account__id            24 non-null     object
 1   date                   24 non-null     object
 2   SaldoInsoluto          24 non-null     float64
 3   days_late_at_date      24 non-null     int64
 4   customer_status_final  24 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.1+ KB

In [35]:
pruebadf.customer_status_final = pruebadf.customer_status_final.astype('int64')

/var/folders/v4/bqj9vzp11vd1cvhf93rmpqt00000gp/T/ipykernel_42259/626257864.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pruebadf.customer_status_final = pruebadf.customer_status_final.astype('int64')

In [44]:
df_prueba_pivot = pruebadf.pivot_table(index= 'account__id', columns=['date'], values=['days_late_at_date'],
                                       aggfunc="max")

df_prueba_pivot

                                     days_late_at_date
date                                        2021-01-31 2021-02-28 2021-03-31
account__id
5eea39ca-0945-46be-911c-0ac42020588f                 0          0         29  \


date                                 2021-04-30 2021-05-31 2021-06-30
account__id
5eea39ca-0945-46be-911c-0ac42020588f         59         90        120  \


date                                 2021-07-31 2021-08-31 2021-09-30
account__id
5eea39ca-0945-46be-911c-0ac42020588f        151        182        212  \

                                                 ...
date                                 2021-10-31  ... 2022-02-28 2022-03-31
account__id                                      ...
5eea39ca-0945-46be-911c-0ac42020588f          0  ...          0          0  \


date                                 2022-05-31 2022-06-30 2022-07-31
account__id
5eea39ca-0945-46be-911c-0ac42020588f          0          0         27  \


date                                 2022-08-31 2022-09-30 2022-10-31
account__id
5eea39ca-0945-46be-911c-0ac42020588f         58         88        119  \


date                                 2022-11-30 2022-12-31
account__id
5eea39ca-0945-46be-911c-0ac42020588f        149        180

[1 rows x 23 columns]

In [63]:
df_prueba_pivot = df_prueba_pivot.droplevel(0, axis=1)

In [64]:
extracol = pruebadf[['account__id','customer_status_final']]

extracol

                                   account__id  customer_status_final
27218     5eea39ca-0945-46be-911c-0ac42020588f                      0
101642    5eea39ca-0945-46be-911c-0ac42020588f                      0
191481    5eea39ca-0945-46be-911c-0ac42020588f                      0
364610    5eea39ca-0945-46be-911c-0ac42020588f                      0
364611    5eea39ca-0945-46be-911c-0ac42020588f                      0
613771    5eea39ca-0945-46be-911c-0ac42020588f                      1
826144    5eea39ca-0945-46be-911c-0ac42020588f                      1
1099600   5eea39ca-0945-46be-911c-0ac42020588f                      1
1458600   5eea39ca-0945-46be-911c-0ac42020588f                      2
1916515   5eea39ca-0945-46be-911c-0ac42020588f                      2
2491907   5eea39ca-0945-46be-911c-0ac42020588f                      2
3226191   5eea39ca-0945-46be-911c-0ac42020588f                      2
4144744   5eea39ca-0945-46be-911c-0ac42020588f                      2
5240638   5eea39ca-0945-46be-911c-0ac42020588f                      2
6522177   5eea39ca-0945-46be-911c-0ac42020588f                      2
8015190   5eea39ca-0945-46be-911c-0ac42020588f                      2
9832488   5eea39ca-0945-46be-911c-0ac42020588f                      2
12021491  5eea39ca-0945-46be-911c-0ac42020588f                      2
14379901  5eea39ca-0945-46be-911c-0ac42020588f                      2
16895113  5eea39ca-0945-46be-911c-0ac42020588f                      2
19577356  5eea39ca-0945-46be-911c-0ac42020588f                      2
22400752  5eea39ca-0945-46be-911c-0ac42020588f                      2
25338275  5eea39ca-0945-46be-911c-0ac42020588f                      2
28376823  5eea39ca-0945-46be-911c-0ac42020588f                      2

In [65]:
extracol.shape

(24, 2)

In [66]:
custcol = extracol.groupby(by='account__id').max()

custcol

                                      customer_status_final
account__id
5eea39ca-0945-46be-911c-0ac42020588f                      2

In [56]:
#custcol.columns = pd.MultiIndex.from_arrays([custcol.columns, [None] * len(custcol.columns)])

In [67]:
finaldata = custcol.merge(df_prueba_pivot, on='account__id')

finaldata

,customer_status_final,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,...,2022-02-28,2022-03-31,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31
account__id,,,,,,,,,,,,,,,,,,,,,
5eea39ca-0945-46be-911c-0ac42020588f,2,0,0,29,59,90,120,151,182,212,...,0,0,0,0,27,58,88,119,149,180