In [1]:
import pandas as pd

In [2]:
balances1 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2101.csv')
balances2 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2102.csv')
balances3 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2103.csv')
balances4 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2104.csv')
balances5 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2105.csv')
balances6 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2106.csv')
balances7 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2107.csv')
balances8 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2108.csv')
balances9 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2109.csv')
balances10 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2110.csv')
balances11 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2111.csv')
balances12 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2112.csv')
balances13 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2201.csv')
balances14 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2202.csv')
balances15 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2203.csv')
balances16 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2204.csv')
balances17 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2205.csv')
balances18 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2206.csv')
balances19 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2207.csv')
balances20 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2208.csv')
balances21 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2209.csv')
balances22 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2210.csv')
balances23 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2211.csv')
balances24 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2212.csv')
balances25 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2301.csv')
balances26 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2302.csv')
balances27 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2303.csv')
balances28 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2304.csv')
balances29 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2305.csv')
balances30 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/balancesCCLedger2306.csv')

In [3]:
daysLate1 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2101.csv')
daysLate2 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2102.csv')
daysLate3 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2103.csv')
daysLate4 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2104.csv')
daysLate5 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2105.csv')
daysLate6 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2106.csv')
daysLate7 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2107.csv')
daysLate8 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2108.csv')
daysLate9 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2109.csv')
daysLate10 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2110.csv')
daysLate11 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2111.csv')
daysLate12 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2112.csv')
daysLate13 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2201.csv')
daysLate14 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2202.csv')
daysLate15 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2203.csv')
daysLate16 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2204.csv')
daysLate17 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2205.csv')
daysLate18 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2206.csv')
daysLate19 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2207.csv')
daysLate20 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2208.csv')
daysLate21 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2209.csv')
daysLate22 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2210.csv')
daysLate23 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2211.csv')
daysLate24 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2212.csv')
daysLate25 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2301.csv')
daysLate26 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2302.csv')
daysLate27 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2303.csv')
daysLate28 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2304.csv')
daysLate29 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2305.csv')
daysLate30 = pd.read_csv('~/Documents/GitHub/FinalProjectLCA/data/raw/daysLate2306.csv')

In [4]:
totalBalances = pd.concat([balances1, balances2, balances3, balances4, balances5, balances6, balances7, balances8, 
                           balances9, balances10, balances11, balances12, balances13, balances14, balances15, 
                           balances16, balances17, balances18, balances19, balances20, balances21, balances22,
                           balances23, balances24, balances25, balances26, balances27, balances28, balances29, 
                           balances30])

In [5]:
totalBalances.head(5)

,account__id,date,asset__current_limit,asset__settled_national,asset__late,asset__payments_in_advance,asset__interests_fees_and_taxes,asset__loan,asset__closed,asset__revolving,asset__settled_foreign
0,5daa2b82-f1ff-4f2d-a93e-5a6e887e50a2,2021-01-31,0.0,1717.71,0.0,0.000000,-1.000000e-09,0.0,0.00,6056.178191,0.00
1,5df510ff-4850-42e0-ae7b-9f6cf07bc7a3,2021-01-31,0.0,99.00,0.0,0.000000,1.925737e+02,0.0,1236.00,3425.211927,0.00
2,5e30304e-648e-454f-9d4b-638144264ac4,2021-01-31,0.0,1172.63,0.0,-0.611685,0.000000e+00,0.0,0.00,0.000000,2912.73
3,5e7959f1-aa3d-4010-9625-44bda535709f,2021-01-31,0.0,1123.00,0.0,0.000000,0.000000e+00,0.0,0.00,6347.341882,0.00
4,5f114ecd-4fb4-42e1-85ff-6049021a3b01,2021-01-31,0.0,1560.99,0.0,0.000000,0.000000e+00,0.0,343.94,0.000000,0.00

In [15]:
totalBalances["SaldoInsoluto"] = totalBalances.asset__settled_national + totalBalances.asset__late + totalBalances.asset__payments_in_advance + totalBalances.asset__interests_fees_and_taxes +totalBalances.asset__loan + totalBalances.asset__closed + totalBalances.asset__revolving + totalBalances.asset__settled_foreign

In [19]:
totalSaldoInsoluto = totalBalances[["account__id", "date", "asset__current_limit","SaldoInsoluto"]]

In [23]:
totalSaldoInsoluto.where(totalBalances["asset__current_limit"]>0)

        account__id date  asset__current_limit  SaldoInsoluto
0               NaN  NaN                   NaN            NaN
1               NaN  NaN                   NaN            NaN
2               NaN  NaN                   NaN            NaN
3               NaN  NaN                   NaN            NaN
4               NaN  NaN                   NaN            NaN
...             ...  ...                   ...            ...
3495159         NaN  NaN                   NaN            NaN
3495160         NaN  NaN                   NaN            NaN
3495161         NaN  NaN                   NaN            NaN
3495162         NaN  NaN                   NaN            NaN
3495163         NaN  NaN                   NaN            NaN

[52296905 rows x 4 columns]